
<p>
  <strong>Area:</strong>
  <%= @participation.area %>
</p>

<p>
  <strong>User:</strong>
  <%= @participation.user %>
</p>

<%= link_to 'Edit', edit_participation_path(@participation) %> |
<%= link_to 'Back', participations_path %>
