
form {
  label {
    display: inline-block;
    margin: .8em 0;
  }
  input,
  textarea {
    margin-top: .7em;
    &[type="submit"] {
      display: inline-block;
      text-align: center;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: sans-serif;
      font-weight: 100;
    }
  }
  textarea {
    resize: none;
  }
  .submit-control {
    text-align: center;
    width: calc(100% + 40px);
    margin-left: -20px;
    top: 20px;
    transform: translateY(20px);
    input {
      border-radius: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}


form.form-type-costum {
  text-align: center;
  padding: 40px 0;
  h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-family: $main-font;
    font-weight: 100;
    color: #AAA;
    margin-bottom: $medium-pad;
  }

  .form-group {
    margin-bottom: 20px;
    label {
      margin-bottom: 0;
      color: #888;
    }
    i {
      color: #888;
      font-style: italic;
    }
  }
  .form-annotation {
    color: #AAA;
    font-weight: medium;
    font-size: .8em;
  }

  .form-frame {
    padding: $small-pad+$small-pad/2;
    border: 2px solid #CCC;
    text-align: left;
    margin-bottom: $medium-pad;
  }
  .form-control {
    border: 1px solid $grey;
    padding-left: 10px;
    border-radius: 0;
    &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder {
      font-weight:100;
      font-size:.8em;
    }
  }
  .form-control {
    &::-moz-placeholder {
      font-weight:100;
      font-size:.9em;
      font-family: $main-font;
    }
    &:-ms-input-placeholder {
      font-weight:100;
      font-size:.9em;
      font-family: $main-font;
    }
    &::-ms-input-placeholder{
      font-weight:100;
      font-size:.9em;
      font-family: $main-font;
    }
    &:-moz-placeholder{
      font-weight:100;
      font-size:.9em;
      font-family: $main-font;
    }
  }
  &.form-type-costum-no-padding {
    padding: 0;
  }

  .img-container {
    .img-form {
      position: relative;
      height: 50px;
      border: 1px solid #CCC;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        max-width: 100px;
        min-height: 50px;
      }
      .action{
        // Destroy
        position: absolute;
        top: 0;
        right: 0;
        .label-for-check {
          display: inline-block;
          float: right;
          height: 50px;
          width: 30px;
          background-color: #333;
          margin: 0;
          background-image: image-url("logo/valid.svg");
          background-size: 50%;
          background-position: center;
          background-repeat: no-repeat;
          color: transparent;
          &::before {
            content:"Image correctement importée";
            position: absolute;
            right: 100%;
            color: black;
            display: block;
            font-size: .7em;
            line-height: 1em;
            color: green;
            min-width: 150px;
            text-align: right;
            padding-right: 10px;
            top: 50%;
            transform: translateY(-58%);
          }
        }
        input[type="checkbox"] {
          width: 0;
          height: 0;
          overflow: hidden;
          opacity: 0;
        }
        input:checked + .label-for-check  {
          background-image: image-url("logo/trash.svg");
          &::before {
            content:"L'image sera supprimée à l'enregistrement";
            color: #bc0000;
          }
        }
      }


    }
    .add-img-form {
      position: relative;
      height: 70px;
      border: 1px solid #CCC;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 20px;
      .label-file, .delete {
        height: 70px;
        width: 30px;
        color: white;
        position: absolute;
        margin: 0;
        top: 0;
        padding: 10px;
        font-size: 0;
        background-size: 50%;
        background-position: center;
        background-repeat: no-repeat;
      }
      .label-file {
        background-color: green;
        right: 30px;
        background-image: image-url("logo/upload.svg");
      }
      .delete {
        background-color: #ab3333;
        right: 0px;
        background-image: image-url("logo/trash.svg");
      }
      input[type="file"]{
        margin-top: 10px;
        margin-left: -100px;
        &:not(:empty) {
          &::after {
            background-color: green;
          }
        }
      }
      input[type="file"]:empty + .label-file {
        background-color: #222;
      }
      input[type="text"]{
        margin: 0px;
        position: absolute;
        bottom: 5px;
        height: 30px;
        border: 0;
        font-size: 1.2em;
        background-color: white;
      }
    }
    #add-img-button.main-action {
      display: block;
      margin-bottom: 20px;
      color: white;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        background-color:#222;
        color:white;
      }
    }
  }
}

.form-action-container {
  display: inline-block;
  .form-action{
    display: inline-block;
    width: auto;
   }
}

.form-action{
  width: auto;
  font-size: 1em;
  letter-spacing: 0;
  text-transform: inherit;
  color: #444;
  border-radius: 0;
  border: 2px solid #444;
  display: inline-block;
  padding: 5px 20px;
  text-decoration: none;
  background-color: white;
  margin: 0;
  font-weight: 100;
  font-family: $main-font;
  border-left: 0;
  float: left;
  &:first-child, &.force-border {
    border-left: 2px solid #444;
  }
  &.main-action {
    background-color:#444;
    color:white;
    @include transition(.2s ease-in);
    &:hover {
      background-color:white;
      color:black;
    }
  }
}
