@mixin transition($content){
  -webkit-transition : $content;
  -moz-transition : $content;
  -ms-transition : $content;
  -o-transition : $content;
  transition : $content;
}

@mixin transform($content){
  -webkit-transform : $content;
  -moz-transform : $content;
  -ms-transform : $content;
  -o-transform : $content;
  transform : $content;
}

@mixin colorGradient($degre, $from, $to){
  background: -webkit-linear-gradient($degre, $from, $to);
  background: -moz-linear-gradient($degre, $from, $to);
  background: -ms-linear-gradient($degre, $from, $to);
  background: linear-gradient($degre, $from, $to);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  text-fill-color: transparent;
}

@mixin bgGradient($degre, $from, $to){
  background: -webkit-linear-gradient($degre, $from, $to);
  background: -moz-linear-gradient($degre, $from, $to);
  background: -ms-linear-gradient($degre, $from, $to);
  background: linear-gradient($degre, $from, $to);
}

@mixin userSelect($content){
  -webkit-user-select: $content;
  -moz-user-select: $content;
  -ms-user-select: $content;
  user-select: $content;
}
