$color-1 : #0D31FB;
$color-2 : #5C5CFF;
$dark-1 : #000;
$dark-2 : #444;
$light-1: #FFF;
$light-2: #DDD;
$grey-1: #95989A;
$grey-2: #888;

$red-1: #ab3333;
$red-2: #993b3b;
$green-1: #27ae60;


$main-font: "Work Sans";

$small-pad: 16px;
$medium-pad: 32px;
$big-pad: 64px;

$wrapper-size: 1080px;
