$color-1 : "#FF0000";
$color-2 : "#FF0000";
$color-3 : "#FF0000";
$color-4 : "#FF0000";
$color-5 : "#FF0000";

$main-font: "Roboto";
$second-font: "Roboto";

$small-pad: 16px;
$medium-pad: 32px;
$big-pad: 64px;

$wrapper-size: 1080px;
