
header {
  p {
    padding:0;
    margin:0;
  }
  .navbar {
    padding-right: 2em;
    height:6em;

    .bvn-msg {
      margin-top: 2em;
      padding-left: 1em;
      border-left: 1px solid black;
    }

    a {
      text-decoration: none;
    }

    #logo-brand {
      padding:0.4em 1.5em;
      img {
        height:3.5em;
      }
    }

    #navbar-btns {
      margin-top: 1em;
      .navbar-text {
        margin:0;
        padding:0;
      }
      .btn-header {
        vertical-align: middle;
        margin-right:2.5em;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
