header {
  position: absolute;
  z-index: 999;
  width: 100%;
  p {
    padding:0;
    margin:0;
  }

  .navbar {
    padding-right: 2em;
    min-height: 6em;
    background-color: transparent;
    border: 0;
  }

  #btns-container {
    margin-top: 2em;
    float:right;
  }

  #menu-burger {
    margin-top: 2.5em;
    margin-bottom: 3em;
  }

  .main-nav {
    padding-top: 20px;
  }

  .bvn-msg { //welcome message
    margin-top: 2em;
    padding-left: 1em;
    border-left: 1px solid black;
  }

  #logo-brand { //logo
    padding:0.4em 1.5em;
    img {
      height:5.5em;
    }
  }

  .navbar-text { //overwriting text
    margin:0;
    padding:0;
  }

  .btn-header {
    vertical-align: middle;
    margin-right:2.5em;
    span {
      font-weight: bold;
    }
  }

}
