<div class="grid-parent">
  <section class="grid-body">
    <% @user.image_users.each do |i| %>
        <article class="grid-item">
          <%= image_tag i.file.url(:medium) %>
        </article>
    <% end %>
  </section>
</div>
