.about-body::after {
  content:"";
  position: absolute;
  display: block;
  width: 300px;
  height: 300px;
  right: 0;
  top: 80vh;
  background-image: image-url("elements/about.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: center;
}
#about {
  position: relative;
  &::after {
    content:"";
    width: 3px;
    height: 250%;
    background-color: $color-1;
    position: absolute;
    left: 50%;
    top: 50px;
    @include transform(translateX(-50%));
    z-index: -1;
  }
  .about-landing {
    width: 60%;
    min-height: 400px;
    text-align: center;
    font-size: 1.2em;
    margin: auto;
    height: calc(100vh - 120px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    div {
      background-color: white;
      padding: $medium-pad 0;
      * {
        position: relative;
        z-index: 2;
      }
      span {
        position: absolute;
        display: block;
        width: 350px;
        height: 350px;
        right: 0;
        top: 30vh;
        background-image: image-url("elements/about.png");
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        z-index: 1;
      }
    }
    h1 {
      font-size: 1.7em;
      background-color: white;
      padding-bottom: 16px;
    }

    p {
      margin:0;
      line-height: 1.5em;
      &.bold {
        font-weight: bold;
        margin: 24px 0;
      }
    }
  }
  .about-body {
    width: 1100px;
    margin: auto;
    margin: auto;
    clear: both;
    .about-item {
      width: 50%;
      min-height: 250px;
      position: relative;
      padding:10px;
      float: left;
      text-align: right;
      &:nth-child(2){
        margin-top: 125px;
      }
      &::after {
        content:"";
        position: absolute;
        height: 3px;
        width: 33px;
        background-color: $color-1;
        top: 55px;
        right: 0;
      }
      &.right {
        float: right;
        text-align: left;
        &::after {
          left: 0;
        }
      }
      p {
        line-height: 1.5em;
        padding: 10px;
        background-color: white;
      }
    }
    .column {
      width: 50%;
      float:left;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      text-align: right;
      &.last-column {
        margin-top: 125px;
        text-align: left;
        .about-item::after {
          left: 0;
        }
      }
    }
  }
}
.clr {
  clear: both;
}

@media screen and (max-width: 1180px) {
  #about {
    .about-body {
      width: 90%;
      margin: auto;
    }
  }
}

@media screen and (max-width: 800px){
  #about::after {
    height: 100%;
  }
  #about .about-body .about-item, #about .about-body .about-item.right, #about .about-body:nth-child(2) {
    float: none;
    text-align: center;
    width: 100%;
    min-height: 0;
    margin-top: 0;
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 500px){
  #about {
    .about-landing {
      width: 95%;
      div::before {
        display: none;
      }
    }
    .about-body {
      .about-item {
        p {
          margin: 10px;
        }
      }
    }
  }

}
