// Place all the styles related to the art_tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-img-form,
#art_tag_manage {
  margin-top: 2em;
  h3 {
    font-size: 1.3em;
    margin-bottom: 1.2em;
  }
}


#art_tag_manage {
  margin: 30px 0;
  .art_tags_container {
    .art_tag {
      display: inline-block;
      height: 20px;
      margin-right: 7px;
      span {
        float: left;
        &.art_tag_name {
          padding: 2px 5px;
          border: 1px solid #CCC;
          border-right: none;
          border-top-left-radius: 2px;
          border-bottom-left-radius: 2px;
        }
        &.art_tag_delete {
          display: inline-block;
          width: 20px;
          cursor: pointer;
          border: 1px solid #CCC;
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px;
          height: 24px;
          padding-top: 1.5px;
          i {
            margin-left: calc(50% + .5px);
            transform: translateX(-50%);
          }
        }
      }
    }
  }
  .art_tag_form {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    #add_tag_submit {
      margin: 0;
      border: 1px solid #CCC;
      padding: 0 .5em;
      background: #FFF;
      transform: translateX(-5px);
      vertical-align: middle;
    }
    #add_tag_text {
      display: inline-block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      color: #555555;
      background-color: #fff;
      background-image: none;
      vertical-align: middle;
      margin: 0;
    }
  }

}
