// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#places-header {
  .row{
    margin:0;
  }
  #places-main-img {
    width:60em;
    height:60em;
    background-image: image-url("places/places_page.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: -8em;
  }

  #title-container {
    width:30%;
    margin-top:8em;
    margin-left: 15em;
    h1 {
      width:auto;
      height:auto;
      text-transform: uppercase;
      font-size: 45px;
      letter-spacing: 4px;
      position: relative;
      line-height: 8vh;
      background-color: white;
      z-index:1;
      &::after {
        content:"";
        position: absolute;
        background-color:#0D31FB;
        height:4px;
        width:7em;
        transform: rotateZ(-60deg);
        bottom:1em;
        left:-1em;
        z-index:0;
      }
      &::before {
        content: "Lieux";
        text-transform: uppercase;
        font-size: 45px;
        letter-spacing: 4px;
        position: absolute;
        bottom: 6px;
        left: 6px;
        font-weight: 100;
        z-index:1;
      }
    }
  }
}

.container {
  margin-left:2em;
}

#search-form {
  input {
    margin:1em 0;
    width:10em;
    border-radius: 0;
    border:2px solid black;
    &::placeholder-shown, &::placeholder{
      color:black;
    }
  }
  button {
    text-transform: uppercase;
    background-color: black;
    color:white;
    font-size: 0.8em;
    padding:0.7em 1em;
    letter-spacing: 2px;
    border:0;
  }
}

#places-body {
   -webkit-columns: 250px;
   -moz-columns: 250px;
   columns: 250px;
  //  -webkit-column-gap: 40px;
  //  -moz-column-gap: 40px;
  //  column-gap: 40px;
   article {
     display: block;
     background-color: rgb(255,255,255);
     -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
     break-inside: avoid;
     position: relative;
     margin-bottom: 30px;
     color: #FFF;
     h3 {
       font-size: 1.5em;
     }
     h4 {
       margin-bottom: .5em;
       font-size: 1.1em;
     }
     img {
       position: relative;
       width: 100%;
     }
     .content {
       position: absolute;
       padding: 15px;
       width: 100%;
       z-index: 2;
       bottom: 10px;
       left: 0;
     }
   }
   article+article{
     margin: 20px 0;
   }
}

#add-place {
  text-align: center;
  margin:auto;
  a {
    padding:1em 2em;
    background-color: black;
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
