// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-img-form,
#art_tag_manage {
  margin-top: 2em;
  h3 {
    font-size: 1.3em;
    margin-bottom: 1.2em;
  }
}
