// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-img-form,
#art_tag_manage {
  margin-top: 2em;
  h3 {
    font-size: 1.3em;
    margin-bottom: 1.2em;
  }
}


#show {
  min-height: 100vh;
  .half {
    width: 50%;
    margin: auto;
    h2 {
      text-align: center;
      font-size: 1.5em;
      text-transform: none;
    }
  }
  #tabs-profile {
    border: 1px solid #222;
    margin: 50px;
    .tabs-menu {
      margin: $medium-pad 0;
      margin-left: -15px;
      li {
        padding: 15px 10px;
        padding-left: $medium-pad;
        text-transform: uppercase;
        letter-spacing: 3px;
        border-left: 4px solid transparent;
        @include transition(.4s);
        &.ui-tabs-active, &.ui-state-active, &:hover {
          border-left: 4px solid black;
        }
        a {
          display: block;
        }
      }
    }
  }
  .tab-profile {
    padding: 30px;
    text-align: left;
    border-left: 1px solid black;
    min-height: 500px;
    h2 {
      margin-bottom: 40px;
    }
    form {
      text-align: left;
      .form-action {
        text-align: left;
      }
    }
  }
}
