body {
  background-color: #fff;
  color: #000;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  min-height: 100vh;
}
.btn-action-dark {
  background-color: #444;
  color: white;
  padding: 15px 20px;
  text-transform: uppercase;
  display: inline-block;
}
#notice {
position: fixed;
bottom: 0%;
left: 50%;
@include transform(translateX(-50%) translateY(100%));
color: white;
padding: 16px 32px;
z-index: 999;
text-transform: uppercase;
font-weight: 700;
font-size: 1.2em;
letter-spacing: 3px;
margin: 0;
width: 100%;
text-align: center;
background-color: #5C5CFF;
&[data-content=""]{
  animation-duration: 0s;
}
animation-name: noticeOut;
animation-iteration-count: 1;
animation-timing-function: linear;
animation-duration: 5s;
}

@keyframes noticeOut {
  0% {
    @include transform(translateX(-50%) translateY(0%));
  }
  90% {
    @include transform(translateX(-50%) translateY(0%));
  }
  100%{
    @include transform(translateX(-50%) translateY(100%));
  }
}

.pad-bottom-big {
  padding-bottom: $big-pad !important;
}

.pad-bottom-medium {
  padding-bottom: $medium-pad !important;
}


.pad-medium {
  padding-left: $medium-pad;
}

.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-family: $main-font;
  font-size: 1em;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none !important;
  color: black;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

h2 {
  font-size: 2.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.1em;
}

.wrapper {
  width: 1080px;
  margin: auto;
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
    padding-bottom: 30px;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.full-screen {
  min-height: 100vh;
}

a.list_link {
  font-size: 1.5em;
  position: relative;
  text-decoration: none;
  &::after {
    content :"";
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -5px;
    background-color: #0000FF;
    position: absolute;
  }
}

.clr-after {
  &::after {
    content:"";
    display: block;
    width: 100%;
    clear: both;
  }
}
.clr {
  clear: both;
}
