<main id="about">
  <section class="about-landing">
    <div>
      <h1>Notre Concept</h1>
      <p class="bold">Texposoù?, c’est un site web qui permet de mettre en relation des particuliers et des professionnels avec des artistes pour qu’ils puissent exposer dans des espaces mis à leur disposition.</p>
      <p>Notre objectif, c’est que chacun puisse exprimer et partager son amour de l’art dans un lieu réunissant des passionnés.</p>
    </div>
  </section>
  <section class="about-body">
      <div class="about-item" data-appear="bounce">
        <p>On a observé que l’art était plus accessible ces dernières années mais que le système classique des galeries restait élitiste. Les artistes locaux ou en début de carrière, jugés amateurs ou déconsidérés, n’arrivent pas à partager facilement l’expression de leurs dons artistiques. </p>
      </div>
      <div class="about-item right" data-appear="bounce">
        <p>C’est pour répondre à cette problématique que Texposoù? oeuvre pour le dynamisme de la culture en permettant l’exposition artistique dans les meilleures conditions possible. Par ailleurs, notre site web permet aux professionnels et aux particuliers de trouver des artistes susceptibles de vouloir exposer chez eux. </p>
      </div>
      <div class="about-item" data-appear="bounce">
        <p>L’exposition dans des bars, des restaurants ou chez des particuliers permet de sortir du cercle classique des galeries ou des musées. Texposoù veut offrir au public une approche originale de l’art et sert de tremplin pour les artistes.</p>
      </div>
      <div class="about-item right" data-appear="bounce">
        <p>Texposoù?, c’est une équipe d’étudiants bordelais animés par l’envie commune de devenir acteur du milieu artistique. Nous avons tous au moins un ami artiste qui n’arrive pas à exposer parce qu’il manque de notoriété et de reconnaissance.</p>
      </div>
      <div class="about-item" data-appear="bounce">
        <p>Parce que nous voulons lever ces barrières, nous avons créé Texposoù?. Comme son nom l’indique, l’idée est d’aider directement les artistes à trouver un espace d’exposition chez des particuliers et quand nous parlons de particuliers, c’est vous, nous, des bars, des restaurants, des commerçants, tout le monde !</p>
      </div>
  </section>
</main>
<div class="clr"></div>
