<section id="landing">
  <div class="panel-right">
    <h1>Texposoù?<br>_BORDEAUX</h1>
    <h3>Un artiste chez vous</h3>
  </div>
  <div class="form">

  </div>
</section>
<section id="lastExhib">
  <div class="wrapper">
    <div class="list-exhibition" >
      <h2>Les derniers<br> lieux</h2>
      <ul>
        <li class="active"><span>L'accuse</span></li>
        <li><span>Octopus kingdom</span></li>
        <li><span>Banksy</span></li>
        <li><span>Cheval</span></li>
        <li><span>Banksy</span></li>
        <li><span>Octopus kingdom</span></li>
      </ul>
    </div>
    <div class="photo-pres clr-after "></div>
    <div class="clr">
      <%= link_to "Tous les lieux", places_path, class:"list_link" %>
    </div>
  </div>
</section>
<section id="lastPlace">
  <div class="wrapper">
    <h2>exposition<br>à venir</h2>
  </div>
  <div class="banner">
    <div class="content">
      <h3 class="title">Chez Jules</h3>
      <p>Je mets à votre disposition
mon bar aux allures rustiques
et vintages afin que les plus
intéréssés puissent bénéficier
d'un bel espace en bord de mer
aux attraits touristiques considérables.
Il présente une surface de quelques dizaines
de mètres carrés et est toujours plein lors
des périodes estivales. De plus, je possède
des éclairages puissants et amovibles afin de
mettre en avant les oeuvres et les réalisations.
Mon bar est tout à vous. </br>
Faites en bon usage. </p>
    </div>
  </div>
  <div class="wrapper">
    <%= link_to "Toutes les expositions", exhibitions_path, class:"list_link" %>
  </div>
</section>

<section id="lastArtist" class="wrapper">
  <h2>À la<br>découverte<br>d'un artiste</h2>
  <div class="left-panel">
    <p class="title"><span>Banksy</span></p>
    <p class="art_tags_list">Street-art - peinture</p>
    <p class="description">
    Maître de l'art urbain, Banksy est et restera entouré
    de ce mystère palpable qui le rend si unique.
    Vecteur humoristique, il mélange différents styles et
    rappelle à la fois les techniques de Warhol et la patte
    de Ernest Pignon-Ernest, Miss.Tic, Jeff Aérosol ou encore
    Blek le rat. Son message est souvent antimilitariste, anticapitaliste,
    voire même tout simplement antisystème. Il représente souvent des rats, des singes,
    des policiers, des soldats, des enfants et des personnages célèbres.
    Ainsi, il possède sa propre signature et est parfaitement reconnaissable dans
    le milieu du Street Art.
    </p>
  </div>
  <div class="right-panel"></div>
  <div class="clr">
    <%= link_to "Tous les artistes", index_profile_status_path("artist"), class:"list_link" %>
  </div>
</section>
